.article_title{
  font-size: 18px;
  font-weight: bold;
}
.div_align_right{
  float:right;
  background-color: #cdd;
}
.div_align_left{
  text-align: left;
  width: 200px;
  background-color: #ccc;
}
<<<<<<< HEAD
.social{
  position: fixed; bottom: 10px;right: 10px;
}
.social .icon{
  width: 50px; height: 50px;
}
=======

.container{
  width: 960px;
}

#map{
  float: left;
  width: 70%;
  height: 400px;
}

.locations { 
    float: left;
    width: 30%;
    height: 400px;
    overflow: auto;
} 

>>>>>>> 7a45a6203cbccc1c880ce81d6af6826be57949bb
