
<div class="inner cover">
  <h1 class="cover-heading"><span style="font-size: 50px">W</span>elcome to <span style="font-size: 50px">B</span>erlin</h1>
  <p class="lead">We as a team of a new comers and beginners will help you as hard as we can to understand the paperwork and bureaucracy in Berlin. Hope you a nice start</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">New here </a>
  </p>
</div>