<style type="text/css">
	body{
		background-color: black;
		color: green;
	}
	.social {
		position: fixed; bottom: 10px; right: 10px;
	}
	.social .icon {
		width: 50px ; height: 50px;
	}
</style>
<h1>hello!</h1>
<h2><a href="welcome/show/ghaith"> please welcome me </a></h2>
<h1 style="color: red; font-size: 23px; ">BUREAUCRAZY</h1>

<h2 style="color: yellow;"> accourding to the CNN agancy news, the ...........</h2>
<img src="http://1.bp.blogspot.com/-je5OxQbE1AI/UVVZF_IN7CI/AAAAAAAACiU/_kG-L2zj4AE/s1600/document+overload.jpg">
<H3>MAIN THINS AND OTHRER BULLSHIT</H3>
<img src="https://res.cloudinary.com/relayto/image/upload/w_737,q_95/media/files/RdFUiexDR8ee4iBmuzJa_gd.org-pic-82.jpg">
<p>WHAT THE HELL ARE WE SUPPOSED TO DO ?</p>

<p style="color: brown">here goes the laws and the articles we were suppose to be getting from some shithole.!!</p>

<div class="social">
	<a href="http://twitter.com"><img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png" class="icon"></a>
	<a href="http://facebook.com"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Facebook-icon.png" class="icon"></a>
</div>
