<!DOCTYPE html>
<html>
<head>
  <title>Bureacrazy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>

<body class="app_background">

<header>
     <nav>
         <h1>BUREACRAZY</h1>
         <br>
         <br>
         <br>
         <ul>

              <li><a href="/article/araapplication">application</a></li>
              <li><a href="/public/mab">map location</a></li>
              <li><a href="/sample">sample</a></li>
              <li><a href="steps">steps</a></li>
              <br>


         </ul>
     </nav>
 </header>








<%= yield %>

</body>
</html>