
<div class="container">
	<form action="/article/pdf" method="POST" class="form-horizontal">
		<div class="form-group">


			<label for="move_in_date" class="col-sm-2 control-label">Moving in date</label>
			<div class="col-sm-10">
				<input type="date" name="move_in_date" id="move_in_date" placeholder="تاريخ الانتقال">
			</div>
		</div>
		<div class="form-group">
			<label for="new_address" class="col-sm-3 control-label">New address</label>
			<div class="col-sm-9">
				<input type="text" name="new_address" id="new_address" placeholder="العنوان الجديد">
			</div>
		</div>



New Postal Code:
<input type="text" name="new_postal_code" placeholder="الرمز البريدي">الرمز البريدي
<br>

Old Address:
<input type="text" name="old_address" placeholder="العنوان القديم">العنوان القديم
<br>

Old Postal Code:
<input type="text" name="old_postal_code" placeholder="الرمز البريدي للعنوان القديم">الرمز البريدي للعنوان القديم
<br>


 * SurName:
<input type="text" name="surname" placeholder=" الكنية" required> الكنية

<br>
* FirstName:
<input type="text" name="firstname" placeholder="الاسم الاول" required>الاسم الكامل
<br>

Date of Birth:
<input type="date" name="date_birth" placeholder=" تاريخ الولادة" required> تاريخ الولادة
<br>

Nationality:
<input type="text" name="nationality" placeholder="
الجنسية ">
الجنسية 
<br>

Religion:
<input type="text" name="religion" placeholder="الدين">الدين
<br>

Marital Status:
<input type="text" name="Marital_Status" placeholder="الحالة الاجتماعية ">الحالة الاجتماعية 
<br>

Date of Marriage:
<input type="Date" name="Date_of_Marriage" placeholder="تاريخ عقد الزواج">تاريخ عقد الزواج
<br>


ID Nr:
<input type="text" name="id_nr"placeholder="رقم البطاقة الشخصية">رقم البطاقة الشخصية
<br>


Sirial Number(ID):
<input type="text" name="Sirial_number" placeholder="الرقم التسلسلي للبطاقة">الرقم التسلسلي للبطاقة
<br>


Place of Issue(ID):
<input type="text" name="Place_issue" placeholder="مكان صدورها">مكان صدورها
<br>



Date of Issue(ID):
<input type="Date" name="Date_issue"placeholder="تاريخ صدورها">تاريخ صدورها
<br>

Expired Date(ID):
<input type="Date" name="expired_Date" placeholder="تاريخ انتهائها">تاريخ انتهائها
<br>

Sirial Number(passport):
<input type="text" name="Sirial_number" placeholder="الرقم التسلسلي للجواز السفر">الرقم التسلسلي للجواز السفر
<br>


Place of Issue(passport):
<input type="text" name="Place_issue" placeholder="مكان صدوره">مكان صدوره
<br>



Date of Issue(passport):
<input type="Date" name="Date_issue"placeholder="تاريخ صدوره">تاريخ صدوره
<br>

Expired Date(passport):
<input type="Date" name="expired_Date" placeholder="تاريخ انتهائه">تاريخ انتهائه
<br>

save:
<input type="submit" value="Convert to PDF" class="btn btn-primary">
<br>

	</form>
</div>


 