
<div class="container">
	<form action="/article/pdf" method="POST" class="form-horizontal">
		<div class="form-group">

			<label for="move_in_date" class="col-sm-3 control-label">Moving In Date</label>
			<div class="col-sm-9">
				<input type="date" name="move_in_date" id="move_in_date">
			</div>
		</div>
		<div class="form-group">
			<label for="new_address" class="col-sm-3 control-label">New Address</label>
			<div class="col-sm-9">
				<input type="text" name="new_address" id="new_address">
			</div>
		</div>
<div class="form-group">
			<label for="new_postal_code" class="col-sm-3 control-label">New Postal Code</label>
			<div class="col-sm-9">
				<input type="text" name="new_postal_code" id="new_postal_code">
			</div>
		</div>
		<div class="form-group">
			<label for="old_address" class="col-sm-3 control-label">Old Address</label>
			<div class="col-sm-9">
				<input type="text" name="old_address" id="old_address">
			</div>
		</div>
		<div class="form-group">
			<label for="old_postal_code" class="col-sm-3 control-label">Old Postal Code</label>
			<div class="col-sm-9">
				<input type="text" name="old_postal_code" id="old_postal_code">
			</div>
		</div>
		<div class="form-group">
			<label for="surname" class="col-sm-3 control-label">Surname</label>
			<div class="col-sm-9">
				<input type="text" name="surname" id="surname">
			</div>
		</div>
		<div class="form-group">
			<label for="firstname" class="col-sm-3 control-label">FirstName</label>
			<div class="col-sm-9">
				<input type="text" name="firstname" id="firstname">
			</div>
		</div>
		<div class="form-group">
			<label for="date_of_birth" class="col-sm-3 control-label">Date Of Birth</label>
			<div class="col-sm-9">
				<input type="date" name="date_of_birth" id="date_of_birth">
			</div>
		</div>
		<div class="form-group">
			<label for="nationality" class="col-sm-3 control-label">Nationality</label>
			<div class="col-sm-9">
				<input type="text" name="nationality" id="nationality">
			</div>
		</div>
		<div class="form-group">
			<label for="religion" class="col-sm-3 control-label">Religion</label>
			<div class="col-sm-9">
				<input type="text" name="religion" id="religion">
			</div>
		</div>
		<div class="form-group">
			<label for="marital_status" class="col-sm-3 control-label">Marital Status</label>
			<div class="col-sm-9">
				<input type="text" name="marital_status" id="marital_status">
			</div>
		</div>
		<div class="form-group">
			<label for="date_of_marriage" class="col-sm-3 control-label">Date Of Marriage</label>
			<div class="col-sm-9">
				<input type="date" name="date_of_marriage" id="date_of_marriage">
			</div>
		</div>
		<div class="form-group">
			<label for="id_nr" class="col-sm-3 control-label">ID Nr</label>
			<div class="col-sm-9">
				<input type="text" name="id_nr" id="id_nr">
			</div>
		</div>
		<div class="form-group">
			<label for="sirial_number" class="col-sm-3 control-label">Sirial Number</label>
			<div class="col-sm-9">
				<input type="text" name="sirial_number" id="sirial_number">
			</div>
		</div>

<div class="form-group">
			<label for="place_of_issue" class="col-sm-3 control-label">Place Issue</label>
			<div class="col-sm-9">
				<input type="text" name="place_of_issue" id="place_of_issue">
			</div>
		</div>

<div class="form-group">
			<label for="date_of_issue" class="col-sm-3 control-label">Date Issue</label>
			<div class="col-sm-9">
				<input type="date" name="date_of_issue" id="date_of_issue">
			</div>
		</div>

<div class="form-group">
			<label for="expired_date" class="col-sm-3 control-label">Expired Date</label>
			<div class="col-sm-9">
				<input type="date" name="expired_date" id="expired_date">
			</div>
		</div>

<div class="form-group">
			<label for="sirial_number_pass" class="col-sm-3 control-label">Sirial Number Pass</label>
			<div class="col-sm-9">
				<input type="text" name="sirial_number_pass" id="sirial_number_pass">
			</div>
		</div>

<div class="form-group">
			<label for="place_of_issue_pass" class="col-sm-3 control-label">Place Issue Pass</label>
			<div class="col-sm-9">
				<input type="text" name="place_of_issue_pass" id="place_of_issue_pass">
			</div>
		</div>
		<div class="form-group">
			<label for="date_of_issue_pass" class="col-sm-3 control-label">Date Issue Pass</label>
			<div class="col-sm-9">
				<input type="date" name="date_of_issue_pass" id="date_of_issue_pass">
			</div>
		</div>
		<div class="form-group">
			<label for="expired_date_pass" class="col-sm-3 control-label">Expired Date Pass</label>
			<div class="col-sm-9">
				<input type="date" name="expired_date_pass" id="expired_date_pass">
			</div>


save:
<input type="submit" value="Convert to PDF" class="btn btn-primary">
<br>

	</form>
</div>


 