 Surname:
 <input type="text" name="surname">
 <br>  Firstname:
 <input type="text" name="firstname">
 <br>
 <input type="radio" name="gender" value="male" checked> Male
 <input type="radio" name="gender" value="female"> Female<br>
 
Date of Birth:
<input type="date" name="date_birth" required>
<br> Place of Birth:
<input type="text" name="date_birth" required>
<br> Nationality:
<input type="text" name="nationality">
<br>
Social incurance nummber:
<input type="text" name="social_incurance_nummer">
<br> Address in Germany (Street,BildinNr.):
<input type="text" name=" address_in_germany (street,bildinNr.)">
<br>
Postalcod,Place:
<input type="text" name=" postalcode,place">
<br>
Personal Information:
<input type="text" name="personal_information">
<br>
 save:
<input type="submit" value="Convert to PDF">
<br>

    <fieldset class="options">
 </ul>
    </fieldset>
  <fieldset>
    <legend>Fields</legend>
    <ul>
      <li>
        <label for="">text</label>
        <input type="text" />
        <span class="error-msg">*</span>
      </li>
      <li>
        <label for="">email</label>
        <input type="email" required />
        <span class="error-msg">*</span>
      </li>
      <li>
        <label for="">number</label>
        <input type="number" />
        <span class="error-msg">*</span>
      </li>
      <li>
        <label for="">password</label>
        <input type="password" placeholder="your password" />
        <span class="error-msg">*</span>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Select</legend>
    <select>
      <optgroup label="Option group 1">
        <option>Option 1</option>
        <option>Option 2</option>
      </optgroup>
      <optgroup>
        <option>Option 3</option>
      </optgroup>
    </select>
  </fieldset>
  <fieldset>
    <input type="submit" />
  </fieldset>
</form>